.pnp.js
.pnp.cjs
.pnp.loader.mjs
node_modules/
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/versions
.vscode/
.bin/
.bash_history
.local/

dist/
dist-test/
coverage/
test/**/*.proto.gen.*
!test/reference/**/*.proto.gen.*

managed_context/
test_suite_analysis/
